*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}




/*  Navbar  */

.mainbox {
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-end;

    
}

.mainbox .sub-box-one {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}


.navbar-right-box {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-logo {
}

.main-logo img {
    height: 50px;
    width: 125px;
    cursor: pointer;
}


.navbar-center-box {
    border: 1px solid rgb(222, 213, 213);
    height: 40px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#f5f8fa;
    border-radius: 5px;
    overflow: hidden;
    
    
}

.navbar-center-box input {
    height: 33px;
    width: 250px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #f5f8fa;
    

}

.navbar-center-box #fasearch {
    font-size: 17px;
    cursor: pointer;
    margin-left: 10px;
    font-weight: 600;
}

.navbar-center-box #fasearch:hover {
    scale: 1.3;
    transition:  scale 0.7s;
}


.navbar-left-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 130px;
    margin-right: 20px;
}

.navbar-left-box #facartplus {
    height: 22px;
    cursor: pointer;
    margin: 0 15px;
    
}


.navbar-left-box #fauser {
    height: 22px;
    cursor: pointer;
    margin:  0 15px 5px 15px ;
}

.navbar-left-box #fauser:hover,.navbar-left-box #facartplus:hover ,.navbar-left-box #faheart:hover{
    opacity: 0.5;
    overflow:inherit;
    scale: 1.2;
    transition: scale 0.7s;
}


.navbar-left-box #faheart {
    height: 22px;
    cursor: pointer;
    margin: 0 15px;
}


/* nav links */


.mainbox .sub-box-two {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
} 

.mainbox .sub-box-two ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style: none;

}

.mainbox .sub-box-two ul li{
    margin: 0 20px;
}

#Popular,#Bestdeals,#Featured,#Newarivals,#Allproducts {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    font-weight: 560;
    
}

#Popular:hover,#Bestdeals:hover,#Featured:hover,#Newarivals:hover,#Allproducts:hover {
    border-bottom: 4px solid red;
    color: rgba(0, 0, 0, 0.68);
}


/* No Page */


#nopage-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.subbox-nopage{
    background-image: url(./images/No.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.sample-content-box {
    height: 50vh;
}